[Unit]
Description=Hyparvisor web server
After=network.target

[Service]
ExecStart=/bin/bash /opt/hyparvisor/hyparvisor.sh
Type=exec
Restart=always
StandardOutput=tty
StandardError=tty

[Install]
WantedBy=getty.target
