.fetching {
  cursor: wait;
}
.browser {
  padding-top: 1em;
  padding-bottom: 3em;
}

.fsEntry.selected {
  box-shadow: 0 0 0px 1px hsl(var(--foreground));
}
.fsEntry {
  box-sizing: content-box;
}

.icon {
  --icon-size: 32px;
  --font-size: max(1em, calc(var(--icon-size) * 0.075));
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(2 * var(--icon-size) + 2 * var(--font-size)), 1fr)
  );

  span {
    display: inline-block;
  }
  .fsEntry {
    position: relative;
    user-select: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }
    width: calc(var(--icon-size));
    height: calc(var(--icon-size) + 0.5em + var(--font-size));
    padding: var(--font-size) calc(2 * var(--font-size));
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    > img {
      display: inline-block;
      width: var(--icon-size);
      height: var(--icon-size);
    }
    span {
      display: none;
    }
    span.name,
    input.name {
      font-size: var(--font-size);
      display: block;
      text-align: center;
      cursor: default;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: calc(100% + 3 * var(--font-size));
    }
    input[type='text'].name {
      font-size: var(--font-size);
      display: block;
      text-align: center;
      width: calc(100% + 3 * var(--font-size));
      background: none;
      border: none;
    }
    x&:hover {
      &::after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0px;
        left: 100%;
        width: 300px;
        height: 6em;
        background-color: rgba(255, 255, 255, 1);
      }
      span.size,
      span.date,
      span.group,
      span.user {
        display: block;
        position: absolute;
        left: calc(100% + 5px);
        width: calc(300px - 1ch);
        top: 0em;
        z-index: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        &::before {
          padding-right: 1ch;
        }
      }

      span.size {
        top: 0em;
        &::before {
          content: 'Size:';
        }
      }
      span.date {
        top: 1.5em;
        &::before {
          content: 'Date:';
        }
      }
      span.user {
        top: 3em;
        &::before {
          content: 'Owner:';
        }
      }
      span.group {
        top: 4.5em;
        &::before {
          content: 'Group:';
        }
      }
    }
  }
  .fsEntry.selected {
    .name {
      width: auto;
      text-overflow: initial;
    }
  }
}

.detail {
  display: table;
  .fsEntry {
    display: table-row;
    user-select: none;
    > * {
      display: table-cell;
    }
    > img {
      width: 1em;
      height: 1em;
      grid-column: 1;
      grid-row: 1;
    }
    > span {
      display: text;
      padding: 10px;
      grid-column: 2;
      grid-row: 1;
    }
  }
}
