/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  background: black;
  font-family: ui-sans-serif, system-ui;
  --nav-size: 250px;
}
body {
  margin: 0;
  background: blue;
  margin-left: var(--nav-size);
  padding: 10px;
  min-height: 100vh;
  box-sizing: border-box;
}

.jumplabel {
  color: pink;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: invisible;
}
.jumplabel:focus {
  position: fixed;
  top: 1em;
  left: 50%;
  width: auto;
  height: auto;
  visibility: visible;
  outline: none;
  background-color: white;
  color: black;
  padding: 1em 2em;
  border: 1px solid gray;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

body > main {
  background: green;
}
body > footer {
  background: yellow;
  font-size: 0.75em;
  margin-top: 1em;
}
