div.terminal:focus {
  box-shadow: inset 0px 0px 3px 1px #fff;
  outline: none;
}
div.terminal {
  width: 800px;
  height: 400px;
  margin: 1em;
  padding: 1em;
  box-sizing: border-box;

  background: black;
  color: white;
  font-family: monospace;
}
